---
import { Image } from "astro:assets"
import { PokemonTCG } from "pokemon-tcg-sdk-typescript"
import { Card, CardContent, CardFooter } from "../ui-shadcn/card"

type Props = {
  expansion: PokemonTCG.Set
}

const { expansion } = Astro.props
---

<a
  href={`/expansions/${expansion.id}`}
  class="group block"
>
  <Card
    className="relative flex h-[300px] flex-col items-center justify-center overflow-hidden transition-shadow duration-300 ease-in-out"
  >
    <CardContent>
      <Image
        src={expansion.images.logo}
        alt={`Set ${expansion.name} logo`}
        width={128}
        height={128}
        loading="lazy"
        transition:name={`pokeimage-${expansion.id}`}
        class="mx-auto mb-4 w-40 rounded-lg object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
      />
    </CardContent>

    <CardFooter>
      <h2 class="font-title absolute bottom-5 left-3 text-2xl capitalize">
        {expansion.name}
      </h2>
    </CardFooter>
  </Card>
</a>
