---
import { Image } from "astro:assets"
import { PokemonTCG } from "pokemon-tcg-sdk-typescript"

type Props = {
  expansion: PokemonTCG.Set
}

const { expansion } = Astro.props
---

<a
  href={`/expansions/${expansion.id}`}
  class="group block"
>
  <div
    class="relative flex h-[300px] flex-col items-center justify-center overflow-hidden rounded-lg bg-white/80 p-4 shadow-lg transition-shadow duration-300 ease-in-out hover:shadow-lg"
  >
    <Image
      src={expansion.images.logo}
      alt={expansion.name}
      width={128}
      height={128}
      loading="lazy"
      transition:name={`pokeimage-${expansion.id}`}
      class="mx-auto mb-4 w-40 rounded-lg object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
    />

    <h2 class="absolute bottom-5 left-3 text-2xl font-bold capitalize">
      {expansion.name}
    </h2>
  </div>
</a>
