---
import type { GetStaticPaths } from "astro"
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import TitleGradient from "@/components/ui/TitleGradient.astro"
import PokemonCards from "@/components/pokemon-tcg/PokemonCards.astro"
import type { ExpansionsReponse } from "@/types/expansions"
import NotFoundImage from "@/assets/not-found-card.jpg"
import type { ExpansionCardResponse } from "@/types/expansion-card-response"

export const getStaticPaths = (async () => {
  const data = await fetch("https://api.pokemontcg.io/v2/sets")
  const expansions: ExpansionsReponse = await data.json()

  return expansions.data.map((expansion) => ({
    params: { expansionId: expansion.id },
    props: { expansion }
  }))
}) satisfies GetStaticPaths

const { expansion } = Astro.props

const dataExpansionCards = await fetch(
  `https://api.pokemontcg.io/v2/cards?q=set.id:${expansion.id}`
)
const expansionCards =
  (await dataExpansionCards.json()) as ExpansionCardResponse
---

<Layout>
  <section class="mx-auto mt-10 max-w-screen-lg p-5 sm:p-0">
    <article>
      <Image
        src={expansion.images.logo ?? NotFoundImage}
        alt={expansion.name}
        width={200}
        height={300}
        loading="lazy"
        transition:name={`pokeimage-${expansion.id}`}
        class="mx-auto h-auto w-[500px]"
      />

      <button
        onclick="history.back()"
        class="mb-5 cursor-pointer text-blue-500 hover:text-blue-600 hover:underline"
        >Ir atras</button
      >

      <TitleGradient className="font-title text-6xl">
        Expansión {expansion.name}
      </TitleGradient>
    </article>
  </section>

  <section class="mx-auto mt-10 max-w-screen-lg p-5 pb-0 sm:p-0 sm:pb-10">
    <article
      class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {expansionCards.data.map((card) => <PokemonCards card={card} />)}
    </article>
  </section>
</Layout>
