---
import type { GetStaticPaths } from "astro"
import Layout from "@/layouts/Layout.astro"
import { PokemonTCG } from "pokemon-tcg-sdk-typescript"
import { Image } from "astro:assets"
import TitleGradient from "@/components/ui/TitleGradient.astro"
import PokemonCards from "@/components/pokemon-tcg/PokemonCards.astro"

export const getStaticPaths = (async () => {
  const expansions = await PokemonTCG.getAllSets()

  return expansions.map((expansion) => ({
    params: { expansionId: expansion.id },
    props: { expansion }
  }))
}) satisfies GetStaticPaths

const { expansion } = Astro.props

const expansionCards = await PokemonTCG.findCardsByQueries({
  q: `set.id:${expansion.id}`
})
---

<Layout>
  <section class="mx-auto mt-10 max-w-screen-lg p-5 sm:p-0">
    <div class="p-5">
      <Image
        src={expansion.images.logo}
        alt={expansion.name}
        width={200}
        height={300}
        loading="lazy"
        transition:name={`pokeimage-${expansion.id}`}
        class="mx-auto h-auto w-[500px]"
      />
      <button
        onclick="history.back()"
        class="mb-5 cursor-pointer text-blue-500 hover:text-blue-600 hover:underline"
        >Ir atras</button
      >
      <TitleGradient className="font-title text-6xl">
        Expansión {expansion.name}
      </TitleGradient>
    </div>
  </section>

  <section class="mx-auto mt-10 max-w-screen-lg p-5 pb-0 sm:p-0 sm:pb-10">
    <div
      class="mt-10 grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {expansionCards.map((card) => <PokemonCards card={card} />)}
    </div>
  </section>
</Layout>
